body{
    margin: 0px;
    text-align: center;
    
    font-family: 'Kanit', sans-serif;
    font-size: 100%;
    color: #40514E;

}
h1{
    font-size: 4.275rem;
    margin-top: 0px;
    font-family: 'Cedarville Cursive', cursive;
    margin: 50px auto 0px auto;
    color: #66BFBF;
    
}
.personal{
    width: 200px;
}
h2{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 0 auto;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight:normal ;
    padding-bottom: 10px;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: #11999E;

}
a{
    color: #11999E;
}
.top-container{
    background-color:#ECF2FF;
    position: relative;
    padding-top: 100px;
    margin:  auto;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
    

}
.top-cloud{
    position: absolute;
    right: 250px;
    top: 50px;
}
.skill-row{  
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.programme{
    width: 30%;
    float: left;
    margin-right: 30px;
}
.craft{
    width: 30%;
    float: right;
    margin-left: 30px;
}
.skills{
    padding-bottom: 30px;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    
}
.bottom-container{
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    
}
.footer-link{
    padding-left: 10px;
}
a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: blue;
}

.intro{
    width: 30%;
    margin: auto;
    
}

p{
    line-height: 2;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


    

